/* ** Reset ** */
*, *:before, *:after {
    box-sizing: border-box;
  }
  
  html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
  }
  
  footer, header, nav, section, main {
    display: block;
  }
  
  body {
    line-height: 1;
  }
  
  ol, ul {
    list-style: none;
  }
  
  blockquote, q {
    quotes: none;
  }
  
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  input, button {
    border-radius: 200px;
    border: 1px solid #707070;
    text-align: right;
    outline: none;
  }
  
  h1 {
    font-size: 2em;
  }
  
  h2 {
    font-size: 1.5em;
  }
  
  h3 {
    font-size: 1.17em;
  }
  
  h4 {
    font-size: 1.12em;
  }
  
  h5 {
    font-size: .83em;
  }
  
  h6 {
    font-size: .75em;
  }
  
  .btn-primary {
    background-color: #1DA1F2;
    color: #fff;
  }
  
  strong {
    font-weight: bold;
  }  

/* ** Login page ** */

* {
    font-family: Shabnam;
    color: #707070;
  }
  
  body {
    background-color: #F0F2F5;
    font-family: Shabnam;
    text-align: center;
    color: #707070;
  }
  
  .container {
    background-color: #fff;
    width: 80%;
    margin: 10vh auto;
    padding: 2em;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  }
  
  .container .intro {
    margin-bottom: 3rem;
    text-align: center;
  }
  
  .container .intro h1 {
    font-size: 3.5em;
    color: #1DA1F2;
    margin-bottom: 1rem;
  }
  
  .container .intro p {
    font-size: 1.5em;
  }
  
  .container .form-container {
    display: flex;
    flex-direction: column;
  }
  
  .container .form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .container .form-container form input {
    margin: 10px auto;
    width: 90%;
    padding: 10px 1rem;
    font-size: 1em;
  }
  
  .container .form-container form input[type=submit] {
    background-color: #fff;
    border-color: #1DA1F2;
    color: #1DA1F2;
    text-align: center;
    cursor: pointer;
  }
  
  .container .form-container a {
    margin: 1rem auto;
  }
  
  .container .form-container button {
    margin: 10px auto;
    width: 90%;
    padding: 10px 1rem;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    border-color: #1DA1F2;
  }
  
  /* ------> Modal styles <------ */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 4em 1em;
    width: 80%;
  }
  
  .modal .modal-content .close {
    color: var(--color-primary);
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .modal .modal-content .close:hover,
  .modal .modal-content .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal .modal-content form {
    display: flex;
    flex-direction: column;
    margin: 2rem;
  }
  
  .modal .modal-content form input {
    margin: 10px auto;
    width: 90%;
    padding: 10px 1rem;
    font-size: 1em;
    border: 1px solid #707070;
  }
  
  .modal .modal-content form input[type=submit] {
    border-color: #1DA1F2;
    text-align: center;
    cursor: pointer;
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .modal .modal-content form input {
      width: 70%;
    }
    .container .form-container form input {
      width: 70%;
    }
    .container .form-container button {
      width: 70%;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .modal .modal-content form input {
      width: 60%;
    }
    .container .form-container form input {
      width: 60%;
    }
    .container .form-container button {
      width: 60%;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .modal .modal-content {
      width: 40%;
    }
    .modal .modal-content form input {
      width: 70%;
    }
    .container {
      width: 40%;
    }
    .container .form-container form input {
      width: 70%;
    }
    .container .form-container button {
      width: 70%;
    }
  }


/* ** New CV ** */

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
}
body {
    background-color: #F0F2F5;
    font-family: Shabnam;
    text-align:right;
}

.form-box {
    background-color: #fff;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    width: 90%;
    margin: 1rem auto;
    padding: 2rem;
}

.tab-title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

label {
    font-size: 0.9rem;
    display: block;
    margin-bottom: 10px;
    text-align: right;
}
input , select {
    border: 1px solid gray;
    outline: none;
    border-radius: 2px;
    margin-bottom: 1rem;
    width: 100%;
    padding: 5px;
}

input, select, textarea {
    font-family: Shabnam;
    text-align: right;
}

textarea {
    margin-bottom: 1rem;
    width: 100%;
}

.hint {
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.personal-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.personal-info img {
    width: 128px;
    margin: auto;
    margin-bottom: 15px;
}

.personal-info input[type=file] {
    border: none;
    text-align: center;
}

.radio-row {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.radio-options {
    display: flex;
    justify-content: space-between;
}
.radio-row .radio-box {
    display: flex;
    margin-right: 15px;
}

.tab {
    display: none;
}

.step-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
}

.steps {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    text-align: center;
}
/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
/* Mark the active step: */
.active {
    opacity: 1;
}
  
/* Mark the steps that are finished and valid: */
.finish {
    background-color: #1DA1F2;
}

.btn-primary {
    background-color: #1DA1F2;
    color: #fff;
    border-color: #1DA1F2;
}

.btn-secondary {
    background-color: #fff;
    border-color: #1DA1F2;
    color: #1DA1F2;
    text-align: center;
    cursor: pointer;
}

button {
    border: 1px solid gray;
    text-align: right;
    outline: none;
    padding: 5px 10px;
    font-family: Shabnam;
    cursor: pointer;
}


/* accordion  */

.accordion {
    box-shadow: none;
    border: 1px solid #707070;
    padding: 10px;
    margin-bottom: 15px;
}
.accordion-head {
    width: 100%;
    margin: 5px auto 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;  
}
.accordion-head i {
    cursor: pointer;
    font-size: 12px;
}
.accordion-content {
    display: none;
    background-color: #fff;
    padding: 10px 20px;
}
.active {
    display: flex;
    flex-direction: column;
}
.rotate180 {
    transform: rotate(180deg);
}

/* Box Styles */

.box {
    box-shadow: none;
    border: 1px solid #707070;
    padding: 10px;
    margin-bottom: 15px;
}
.box-head {
    width: 100%;
    margin: 5px auto 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;  
}
.box-head i {
    cursor: pointer;
    font-size: 12px;
}
.box-content {
    background-color: #fff;
    padding: 10px 20px;
}
.row-2 {
    display: flex;
    justify-content: space-between;
}

.row-2 .input-box {
    width: 40%;
}

.sub-section {
    margin-bottom: 2rem;
}

.sub-section_title {
    margin-bottom: 10px;
}

.templates {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.template {
    margin-bottom: 20px;
}
.template img {
    width: 80%;
    border: 5px solid gray;
}
.template-name {
  margin-top: 20px;
}
.template label {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.input-hidden {
  display: none;
}

input[type=radio]:checked + label>img {
  border-color: chartreuse;
}

.add-new {
    color: #1DA1F2;
    cursor: pointer;
}

/* ** New Cv desktop styles **  */
@media only screen and (min-width: 992px) {
 
  .form-box {
    width: 70%;
  }
  .row{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .col{
    width: 30%;
  }
  .personal-info img {
    width: 160px;
  }
  .personal-info .hint {
    text-align: center;
  }
  .accordion-content .input-box {
    display: flex;
    flex-direction: row-reverse;
    width: 45%;
    align-items: baseline;
  }
  .accordion-content .row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
  }
  .accordion-content .row label {
    width: 30%;
  }
  .accordion-content .row input {
    width: 70%;
  }
  .box-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .w70 {
    width: 70% !important;
  }
  .w50 {
    width: 50% !important;
  }
  .w45 {
    width: 45% !important;
  }
  .w20 {
    width: 20% !important;
  }
  .w30 {
    width: 30% !important;
  }
  .w10 {
    width: 10% !important;
  }
  .row-2 {
    margin: 0 2%;
  }
  .row-2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
  }
  label[for="research-type"]{
    width: 35%;
  }
  #research-name {
    width: 86%;
  }
  .input-box-2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
  }

  .templates {
    width: 70%;
    margin: 10px auto;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  .template {
    margin: 0 2%;
  }
  .template img {
    width: 100%;
  }
}


/* ** Panel **  */

.panel-nav {
    background-color: #fff;
  }
  
  .panel-nav .container-nav {
    width: 90%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .panel-nav .container-nav .user-info {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  
  .panel-nav .container-nav .user-info .user {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  
  .panel-nav .container-nav .user-info .user img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-left: 10px;
  }
  
  .panel-nav .container-nav #bars-icon {
    cursor: pointer;
  }
  
  .panel-nav .container-nav .panel-mune {
    display: none;
    width: 100%;
  }
  
  .panel-nav .container-nav .panel-mune li {
    margin: 10px;
    cursor: pointer;
  }
  
  .panel-nav .container-nav .panel-mune .active {
    color: #1DA1F2;
  }
  
  .panel-nav .container-nav .visible {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .panel-nav .container-nav {
      width: 70%;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
    }
    .panel-nav .container-nav .user-info {
      width: auto;
      display: block;
    }
    .panel-nav .container-nav .user-info #bars-icon {
      display: none;
    }
    .panel-nav .container-nav .panel-mune {
      width: 50%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    .panel-nav .container-nav .panel-mune li {
      margin: 10px;
      cursor: pointer;
    }
    .panel-nav .container-nav .panel-mune .active {
      color: #1DA1F2;
    }
  }
  
  .panel-container {
    margin: 3rem auto;
    width: 90%;
  }
  
  .panel-container .tabel .tabel-meta {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .panel-container .tabel .tabel-row {
    background-color: #fff;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
    padding: 1rem 0.5rem;
    box-shadow: 0 3 6 rgba(0, 0, 0, 0.3);
    margin: 1.5rem 0;
  }
  
  .panel-container .tabel .tabel-row .options {
    display: flex;
    justify-content: space-between;
  }
  
  .panel-container .tabel .tabel-row .options i {
    margin: 0 5px;
  }
  
  @media only screen and (min-width: 992px) {
    .panel-container {
      width: 70%;
    }
    .panel-container .tabel .tabel-row {
      background-color: #fff;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: baseline;
      padding: 1.2rem 1.5rem;
      box-shadow: 0 3 6 rgba(0, 0, 0, 0.3);
      margin: 1.5rem 0;
    }
  }